<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.foodes.recipeapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/food_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/food_logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".UpdateUserProfileInfo"></activity>
        <activity android:name=".drawer_test" />
        <activity android:name=".UserProfile" />
        <activity android:name=".ForgotPassword" />
        <activity android:name=".RecipeDetailsActivity" />
        <activity android:name=".SplashActivity" />
        <activity android:name=".AccountCreated" />
        <activity android:name=".SearchActivity" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".ForgotPasswordStepTwo" />
        <activity android:name=".RecipesMenuActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>